/* Propiedades de la caja del cuerpo */
h2 {
  padding: 5px;  /* relleno */
  margin: 10px;  /* Margen */
  border: solid;
  border-color: blue;
  color: yellow;
  font-size: 30px;
}
h1{
  padding: 5px;  /* relleno */
  margin: 10px;  /* Margen */
  border: solid;
  border-color: blue;
  color: yellow;
  font-size: 30px;
}
/*  Propiedades de la caja del párrafo */
p {
  margin: 10px;
  padding: 10px; /* Relleno */
  border:dashed;
  border-color: blue;
  color: whitesmoke;
}

body {
  margin: 10px;
  padding: 10px; /* Relleno */
  border:solid;
  border-color: blue;
  background-color: black;
  color: whitesmoke;
  font-size: 17px;
}

h1{
  margin: 1px;
  padding: 1px;
  color: whitesmoke;
}
#l2{
  color: red;
}
#l3{
  color: palevioletred;
}
#l4{
  color: cyan;
}
#l5{
  color: orange;
}
#b1 {
  margin: 1px;
  padding: 5px; /* Relleno */
  border:dotted;
  border-color: yellow;
  background-color: black;
  color: white;
}
#b2 {
  margin: 1px;
  padding: 1px; /* Relleno */
  border:dotted;
  border-color: red;
  background-color: black;
  color: white;
}
#b3 {
  margin: 1px;
  padding: 1px; /* Relleno */
  border:dotted;
  border-color: palevioletred;
  background-color: black;
  color: white;
}
#b4 {
  margin: 1px;
  padding: 1px; /* Relleno */
  border:dotted;
  border-color: cyan;
  background-color: black;
  color: white;
}
#b5 {
  margin: 1px;
  padding: 1px; /* Relleno */
  border:dotted;
  border-color: orange;
  background-color: black;
  color: white;
}

#b6{
    padding: 5px;
    border-color: yellow;
    border: double;
    color: white;
    background-color: blue;
}
#b7{
    padding: 5px;
    border: double;
    border-color: yellow;
    color: white;
    background-color: blue;
}
#b8{
    padding: 5px;
    border: double;
    border-color: yellow;
    color: white;
    background-color: blue;
}
@media screen and (max-width: 600px){
  #b6{
    margin-right: auto;
    margin-left: auto;
}
}

dt{
  margin: 25px;
}


button{
  padding: 5px; /* Relleno */
  border:double;
  border-color: white;
  background-color: black;
  color: white;
  font-size: 17px;
}

#n {
  padding: 1px;
  margin: 20px;
  background-color: black;
  color: yellow;
}
#N{
  border: solid;
  border-color: blue;
}
#dl1 {
  margin: 10px;
  padding: 10px; /* Relleno */
  border:dashed;
  border-color: blue;
}
#dl2 {
  margin: 10px;
  padding: 10px; /* Relleno */
  border:dashed;
  border-color: blue;
}