/* https://www.w3schools.com/howto/howto_css_two_columns.asp */
/* https://developer.mozilla.org/es/docs/Web/CSS/box-sizing */
/* Así definimos el comportamiento de caja para todos los elementos */
* {
    box-sizing: border-box;
  }
  
/* Crear columnas de ancho diferente que se colocan una a continuación de la otra */
.columna {
float: left;
padding: 10px;
min-height: 500px;
}

.izquierda {
width: 25%;
}

.derecha {
width: 75%;
}

/* Clear floats despues de las columnas para eliminar la superposición */
.fila:after {
content: "";
display: table;
clear: both;
}

h2{
    margin: 1px;
    padding: 1px;
    border: solid;
    border-color: yellow;
    color: black;
    background-color: skyblue;
}
h4{
    margin: 1px;
    padding: 1px;
}
h5{
    margin: 1px;
    padding: 1px;
}
p{
    margin: 1px;
    padding: 1px;
}
button{
  border:double;
  border-color: black;
  background-color: white;
  color: black;
}

#b6{
    border-width: 1px;
    margin-right: 20px;
    margin-left: 25px;
    border-color: yellow;
    color: black;
    background-color: skyblue;
}
#b7{
    border-width: 1px;
    margin-right: 20px;
    margin-left: 25px;
    border-color: yellow;
    color: black;
    background-color: skyblue;
}
#b8{
    border-width: 1px;
    margin-right: 1px;
    margin-left: 25px;
    border-color: yellow;
    color: black;
    background-color: skyblue;
}

#p{
    border: solid;
    border-width: 4px;
    padding: 2px;
    border-color: yellow;
    color: black;
    background-color: skyblue;
}

#N{
    border: solid;
    border-width: 1px;
    border-color: yellow;
}

#c1 {
    color: black;
    background-color:skyblue;
    border: solid;
    border-width: 2px;
    border-color: yellow;
}

#c2 {
    color: black;
    background-color:skyblue;
    border: solid;
    border-width: 2px;
    border-color: yellow;
}
body{
    color: black;
    background-color:skyblue;
    border: solid;
    border-width: 2px;
    border-color: yellow;
}

/* estilos para imágenes https://www.w3schools.com/css/css3_images.asp */
/* posicionamiento de imágenes https://www.w3schools.com/css/css_positioning.asp */

img {
    width: 100%;
    height: auto;
}

.iresponsive {
    padding: 0 6px;
    float: left;
    width: 50%;
  }

/* Responsive layout - cuando el ancho de pantalla es menor a 600px, muestra las columnas apiladas. */
/* Así conseguimos que el contenido se vea bien en dispositvos móviles */

@media screen and (max-width: 600px) {
    .columna {
      width: 100%;
    }

    .iresponsive {
        width: 100%;
    }
}

/* Más sobre diseño web responsive https://www.w3schools.com/css/css_rwd_intro.asp */