/* Propiedades de la caja del cuerpo */
h2 {
  padding: 5px;  /* relleno */
  margin: 10px;  /* Margen */
  border: solid;
  border-color: blue;
  color: yellow;
  font-size: 30px;
}

/*  Propiedades de la caja del párrafo */
p {
  margin: 10px;
  padding: 10px; /* Relleno */
  border:dashed;
  border-color: blue;
  color: whitesmoke;
}

body {
  margin: 10px;
  padding: 10px; /* Relleno */
  border:solid;
  border-color: blue;
  background-color: black;
  color: whitesmoke;
  font-size: 17px;
}

h1{
  margin: 1px;
  padding: 1px;
  color: whitesmoke;
}

#b1 {
  margin: 1px;
  padding: 1px; /* Relleno */
  border:dotted;
  border-color: yellow;
  background-color: black;
  color: yellow;
}
#b2 {
  margin: 1px;
  padding: 1px; /* Relleno */
  border:dotted;
  border-color: yellow;
  background-color: black;
  color: white;
}
#b3 {
  margin: 1px;
  padding: 5px; /* Relleno */
  border:dotted;
  border-color: red;
  background-color: black;
  color: red;
}
#b4 {
  margin: 1px;
  padding: 5px; /* Relleno */
  border:dotted;
  border-color: red;
  background-color: black;
  color: white;
}
#b5 {
  margin: 1px;
  padding: 5px; /* Relleno */
  border:dotted;
  border-color: palevioletred;
  background-color: black;
  color: palevioletred;
}
#b6 {
  margin: 1px;
  padding: 5px; /* Relleno */
  border:dotted;
  border-color: palevioletred;
  background-color: black;
  color: white;
}
#b7 {
  margin: 1px;
  padding: 5px; /* Relleno */
  border:dotted;
  border-color: cyan;
  background-color: black;
  color: cyan;
}
#b8 {
  margin: 1px;
  padding: 5px; /* Relleno */
  border:dotted;
  border-color: cyan;
  background-color: black;
  color: white;
}
#b9 {
  margin: 1px;
  padding: 5px; /* Relleno */
  border:dotted;
  border-color: orange;
  background-color: black;
  color: orange;
}
#b10{
  margin: 1px;
  padding: 5px; /* Relleno */
  border:dotted;
  border-color: orange;
  background-color: black;
  color: white;
}
#b11{
    padding: 5px;
    margin-right: auto;
    margin-left: 80px;
    border-color: yellow;
    border: double;
    color: white;
    background-color: blue;
}
#b12{
    padding: 5px;
    margin-right: 25px;
    margin-left: 25px;
    border: double;
    border-color: yellow;
    color: white;
    background-color: blue;
}
#b13{
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
    border: double;
    border-color: yellow;
    color: white;
    background-color: blue;
}
@media screen and (max-width: 600px){
  #b11{
    margin-right: auto;
    margin-left: auto;
    border-color: yellow;
    color: white;
    background-color: blue;
}
}

button{
  margin: 10px;
  padding: 5px; /* Relleno */
  border:double;
  border-color: white;
  background-color: black;
  color: white;
  font-size: 17px;
}
#N{
  border: solid;
  border-color: blue;
}
#n {
  padding: 1px;
  margin: 20px;
  border:solid;
  border-color: blue;
  background-color: black;
  color: yellow;
}