body {
  font-family: Arial;
  text-align: center;
}

#clave {
  font-size: 2em;
  margin: 20px;
}

.digito {
  margin: 10px;
  padding: 10px;
  background: black;
  color: white;
  border-radius: 5px;
}

.acierto {
  background: green;
}

#botones button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
}

button:disabled {
  background: gray;
}